* {
    margin: 0;
    font-family: RainbowRegular, sans-serif;
}

body {
    padding-top: 20px;
}

/*COMMON*/
.center {
    text-align: center;
}

.content {
    text-align: left;
}

.content__title {
    color: #2d4d68!important;
    margin-bottom: 20px;
    margin-top: 10px;
}

.link {
    text-decoration: none!important;
}

.content__card {
    margin-left: 10px;;
    margin-right: 10px;
    color: #535355;
    margin-top: 20px;
    text-decoration: none;
    transition: 450ms;
}

.content__card:hover {
    margin-left: 10px;;
    margin-right: 10px;
    color: #535355;
    margin-top: 20px;
    text-decoration: none;
    transform:scale(1.07, 1.07);
    background-color: whitesmoke;
    -webkit-box-shadow: 10px 8px 23px -7px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 8px 23px -7px rgba(0,0,0,0.55);
    box-shadow: 10px 8px 23px -7px rgba(0,0,0,0.55);
}


.software__card {
    margin-left: 10px;;
    margin-right: 10px;
    color: #535355;
    margin-top: 20px;
    text-decoration: none;
}



.card__title {
    color: #2d4d68!important;
    font-weight: bold;
    text-decoration: none!important;
}


.software__desc {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}



.software__tab {
    padding: 40px;
    color: #535355;
}

.software__moduly {
    width: 600px;
    height: auto;
}

.software__tg {
    width: auto;
    height: 350px;
}

.software__moduly:hover {
    transform:scale(1.05, 1.05);
}

.software__tg:hover {
    transform:scale(1.05, 1.05);
}

.tab {
    background-color: #fafafa;
}

.solution_image__folderquiz {
    width: 350px;
    height: auto;
}

.solution_image__folderquiz:hover {
    transform:scale(1.05, 1.05);
}

.solution_image__diagram {
    width: 600px;
    height: auto;
}

.solution_image__diagram:hover {
    transform:scale(1.05, 1.05);
}


